---
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  return [
    { params: { locale: 'pt-br' } },
    { params: { locale: 'en-us' } },
  ];
}
---
<BaseLayout  pageName="Portfolio | Blog">
    <p>My blog page, wrapped in a layout!</p>
</BaseLayout>