---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Dropdown from '../../components/dropdown.astro';
import Button from '../../components/button.astro';
import Toggle from '../../components/toggle.astro';
import { API } from '../../common/API/api';

export async function getStaticPaths() {
  return [
    { params: { locale: 'pt-br' } },
    { params: { locale: 'en-us' } },
  ];
}

const styles = [
  { label: "Flat", value: API.STYLE_SHAPE_FLAT},
  { label: "Neumorphic", value: API.STYLE_SHAPE_NEUMORPHIC },
]

const palettes = [
  { label: "Default", value: API.STYLE_PALETTE_DEFAULT },
  { label: "Cyberpunk", value: API.STYLE_PALETTE_CYBERPUNK },
  { label: "Cute", value: API.STYLE_PALETTE_CUTE },
  { label: "Synthwave", value: API.STYLE_SHAPE_NEUMORPHIC },
]
---
<BaseLayout pageName="Portfolio | Contact">
    <div slot="main" class="w-full h-full grid grid-cols-3 grid-rows-3">
        <div class="w-full h-full flex items-center justify-center">
            <Toggle
                id="toggle-brightness-button"
                ariaLabel="Toggle brightness"
                leftIcon="bi bi-brightness-low"
                leftIconSize="text-2xl"
                rightIcon="bi bi-moon-stars"
                rightIconSize="font-lg"
                storageKey="dark">
            </Toggle>
        </div>
        <div class="w-full h-full flex items-center justify-center">
            <Dropdown
                id="select-style"
                defaultLabel="style"
                datasetKey="style"
                storageKey="style"
                options={styles}
            />
        </div>
        <div class="w-full h-full flex items-center justify-center">
            <Dropdown
                id="select-palettes"
                defaultLabel="palettes"
                datasetKey="palette"
                storageKey="palette"
                options={palettes}
            />
        </div>
        <div class="w-full h-full flex flex-col items-center justify-center space-y-2">
            <Button id="01" name=".   .   .   .   .   .   .   .   .   .   .   .   "/>
            <Button id="01" name=".   .   .   .   .   .   .   .   .   .   .   .   "/>
            <Button id="01" name=".   .   .   .   .   .   .   .   .   .   .   .   "/>
        </div>
        <Button id="02" name=".   .   ."/>
        <div class="w-full h-full p-16 flex items-center justify-center">
            <div class="ds-background ds-border ds-rounded-full ds-hover ds-high h-full aspect-square transition-transform transition-discrete duration-500"></div>
        </div>
    </div>
</BaseLayout>
