---
import { getCollection, getEntry } from 'astro:content';
import { URLHelper } from '../../common/URLhelper';
import { Translations } from '../../i18n/translations.';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { PageName } from '../../common/others/pageName';
import VerticalCard from '../../components/vertical-card.astro';

const locale = URLHelper.getLocaleFromURL(Astro.url);
const t = Translations.getTranslation(locale);

export async function getStaticPaths() {
    return [
        { params: { locale: 'pt-br' } },
        { params: { locale: 'en-us' } },
    ];
}


const posts = (await getCollection('blog')).filter(post => post.id.startsWith(`${locale}/`));

---
<BaseLayout pageName=`${PageName.buildName([t.header.projects])}`>
<div slot="main" class="w-full h-full flex items-center justify-center space-x-4">
    <VerticalCard id="open-3d" name="OPEN-3D" media="Open3D.png" mediaType="image" createdAt="05/2025" lastUpdate="11/2025" description="A 3D open-world sandbox game. " />
    <VerticalCard id="sandbox" name="Sandbox" media="Sandbox.mp4" mediaType="video" createdAt="11/2025" lastUpdate="02/2026" description="A flexible sandbox environment." />
    <VerticalCard id="boids" name="Boids" media="Boids.mp4" mediaType="video" createdAt="12/2024" lastUpdate="03/2025" description="A simulation of flocking behavior." />
    <VerticalCard id="Default"/>

    <!-- <a target="_blank" href="https://viniciusgoncalves00.github.io/open-3D/hub.html">OPEN-3D</a>
    <a target="_blank" href="https://viniciusgoncalves00.github.io/sandbox/">Sandbox</a>
    <a target="_blank" href="https://viniciusgoncalves00.github.io/boids-threejs/project/templates/index.html">Boids</a> -->
</div>
</BaseLayout>