<div class="w-full h-full flex items-center justify-between bg-primary drop-shadow-custom-shadow-2">
    <div class="w-[calc(100%-192px)] h-full p-[8px]">
        <div>text 1</div>
        <div>subtitle 1</div>
    </div>
    <div class="w-[192px] h-full flex flex-col items-end p-[8px]">
        <div class="w-full h-full flex items-center justify-end space-x-[8px]">
            <div>release:</div>
            <div>08/12/2024</div>
        </div>
        <div class="w-full h-full flex items-center justify-end space-x-[8px]">
            <div>last update:</div>
            <div>08/12/2024</div>
        </div>
    </div>
</div>