<div x-data="{ navigationOpen: false, darkMode: localStorage.getItem('theme') === 'custom_light' }">
    <div class="fixed bg-primary w-[100%] h-16 flex justify-center z-50 drop-shadow-custom-shadow-2">
        <div class="w-[80%] h-[100%] flex items-center justify-between font-RobotoCondensed text-primary_text">
            <div>
                PORTFOLIO
            </div>
            <button @click="navigationOpen = !navigationOpen">
                <svg xmlns="http://www.w3.org/2000/svg" alt="Menu" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="fixed w-full h-full flex items-center justify-center font-RobotoCondensed z-[9999] pointer-events-none">
        <div class="z-50 pointer-events-auto">
            <div @click.outside="if (navigationOpen) navigationOpen = false" x-show="navigationOpen" class="bg-primary w-[256px] rounded-[4px] p-16 flex flex-col items-center justify-between drop-shadow-custom-shadow-2">
                <ul class="flex flex-col items-center justify-center space-y-4 text-primary_text">
                    <a href="./home.html">home</a>
                    <a href="./projects.html">projects</a>
                    <a href="./blog.html">blog</a>
                    <a href="./boids.html">boids</a>
                </ul>
                <button class="pt-24" @click="darkMode = !darkMode; localStorage.setItem('theme', darkMode ? 'custom_light' : 'custom_dark'); document.documentElement.setAttribute('data-theme', darkMode ? 'custom_light' : 'custom_dark')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
                        <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>