<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto X</title>
  <style>
    iframe {
      width: 100%;
      height: 100vh;
      border: none;
    }
  </style>
    <script defer src="../../dist/bundle.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body x-data="">
    <header x-init="fetch('./common/header.html').then(res => res.text()).then(html => $refs.header.innerHTML = html)" x-ref="header"></header>
    <div class="fixed w-screen h-screen flex items-center justify-center pointer-events-none">in construction...</div>
    <div class="w-screen h-screen bg-secondary flex items-center justify-center overflow-scroll">
        <iframe src="https://viniciusgoncalves00.github.io/boids-threejs/"></iframe>
    </div>
    
    <footer x-init="fetch('./common/footer.html').then(res => res.text()).then(html => $refs.footer.innerHTML = html)" x-ref="footer"></footer>
</body>
</html>
