<div  x-data="{
    get experiences() {
        return content.sections.career.experiencies;
    },
    get indices() {
        const result = [];
        for (let i = 0; i < this.experiences.length; i += 2) {
            result.push(i);
        }
        return result;
    }
}">
    <template x-for="index in indices" :key="index">
        <div class="bg-primary w-full h-screen flex flex-col px-64">
            <!-- Empty -->
            <template x-if="index === 0">
                <div class="w-full h-64 flex"></div>
            </template>            

            <!-- Superior Line -->
            <template x-if="index !== 0">
                <div class="w-full h-64 flex">
                    <div class="w-full h-full"></div>
                    <div class="w-16 h-full flex flex-col items-center justify-center">
                        <div class="bg-black w-[1px] h-full"></div>
                    </div>
                    <div class="w-full h-full"></div>
                </div>
            </template>
        
            <!-- Left Side -->
            <div class="w-full h-full flex">
                <div class="w-full flex flex-col items-end justify-start">
                    <div x-text="experiences[index].period" class="text-end mb-2"></div>
                    <div x-text="experiences[index].position" class="font-medium text-2xl text-end"></div>
                    <div x-text="experiences[index].localization" class="font-medium text-lg text-end"></div>
                    <div x-text="experiences[index].company" class="font-medium text-lg text-end"></div>
                    <div x-html="experiences[index].description" class="w-1/2 text-end"></div>
                </div>
                <div class="w-16 h-full flex flex-col items-center justify-center">
                    <i class="bi bi-circle"></i> 
                    <div class="bg-black w-[1px] h-full"></div>
                </div>
                <div class="w-full h-full"></div>
            </div>

            <!-- Right Side -->
            <div class="w-full h-full flex">
                <div class="w-full h-full"></div>
                <div class="w-16 h-full flex flex-col items-center justify-center">
                    <i class="bi bi-circle"></i> 
                    <div class="bg-black w-[1px] h-full"></div>
                </div>
                <div class="w-full flex flex-col items-start justify-start">
                    <div x-text="experiences[index + 1].period" class="text-start mb-2"></div>
                    <div x-text="experiences[index + 1].position" class="font-medium text-2xl text-start"></div>
                    <div x-text="experiences[index + 1].localization" class="font-medium text-lg text-start"></div>
                    <div x-text="experiences[index + 1].company" class="font-medium text-lg text-start"></div>
                    <div x-html="experiences[index + 1].description" class="w-1/2 text-start"></div>
                </div>
            </div>

            <!-- Inferior Line -->
            <template x-if="index + 1 !== experiences.length - 1">
                <div class="w-full h-64 flex">
                    <div class="w-full h-full"></div>
                    <div class="w-16 h-full flex flex-col items-center justify-center">
                        <div class="bg-black w-[1px] h-full"></div>
                    </div>
                    <div class="w-full h-full"></div>
                </div>
            </template>            
        
            <!-- Empty -->
            <template x-if="index + 1 === experiences.length - 1">
                <div class="w-full h-64 flex">
                    <div class="w-full h-full"></div>
                    <div class="w-16 h-full flex flex-col items-center justify-start">
                        <i class="bi bi-circle"></i> 
                    </div>
                    <div class="w-full h-full"></div>
                </div>
            </template>
        </div>
    </template>
</div>