<div class="bg-primary w-full h-screen flex flex-col px-64">

    <div class="w-full h-64 flex">
        <div class="w-full flex flex-col items-end justify-start"></div>
    </div>

    <div class="w-full h-full flex">
        <div class="w-full flex flex-col items-end justify-start">
            <div class="text-end">04 - 2025</div>
            <div class="text-end">AeroSim</div>
            <div class="text-end">Desenvolvedor Junior</div>
            <div class="text-end">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</div>
        </div>
        <div class="w-16 h-full flex flex-col items-center justify-center">
            <i class="bi bi-circle"></i> 
            <div class="bg-black w-[1px] h-full"></div>
        </div>
        <div class="w-full h-full"></div>
    </div>

    <div class="w-full h-full flex">
        <div class="w-full h-full"></div>
        <div class="w-16 h-full flex flex-col items-center justify-center">
            <i class="bi bi-circle"></i> 
            <div class="bg-black w-[1px] h-full"></div>
        </div>
        <div class="w-full flex flex-col items-start justify-start">
            <div class="text-start">04 - 2024</div>
            <div class="text-start">AeroSim</div>
            <div class="text-end">Estagiário em desenvolvimento de software</div>
            <div class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</div>
        </div>
    </div>
</div>

<div class="bg-primary w-full h-screen flex flex-col px-64">
    <div class="w-full h-64 flex">
        <div class="w-full flex flex-col items-end justify-start"></div>
        <div class="w-16 h-full flex flex-col items-center justify-center"><div class="bg-black w-[1px] h-full"></div></div>
        <div class="w-full h-full"></div>
    </div>

    <div class="w-full h-full flex">
        <div class="w-full flex flex-col items-end justify-start">
            <div class="text-end">06 - 2023</div>
            <div class="text-end">Autônomo</div>
            <div class="text-end">Arquiteto Urbanista</div>
            <div class="text-end">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</div>
        </div>
        <div class="w-16 h-full flex flex-col items-center justify-center">
            <i class="bi bi-circle"></i> 
            <div class="bg-black w-[1px] h-full"></div>
        </div>
        <div class="w-full h-full"></div>
    </div>

    <div class="w-full h-full flex">
        <div class="w-full h-full"></div>
        <div class="w-16 h-full flex flex-col items-center justify-center">
            <i class="bi bi-circle"></i> 
            <div class="bg-black w-[1px] h-full"></div>
        </div>
        <div class="w-full flex flex-col items-start justify-start">
            <div class="text-start">06 - 2022</div>
            <div class="text-end">Trzakos Arquitetura</div>
            <div class="text-end">Arquiteto Urbanista</div>
            <div class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</div>
        </div>
    </div>

    <div class="w-full h-64 flex">
        <div class="w-full flex flex-col items-end justify-start"></div>
        <div class="w-16 h-full flex flex-col items-center justify-center"><div class="bg-black w-[1px] h-full"></div></div>
        <div class="w-full h-full"></div>
    </div>
</div>

<div class="bg-primary w-full h-screen flex flex-col px-64">

    <div class="w-full h-64 flex">
        <div class="w-full flex flex-col items-end justify-start"></div>
        <div class="w-16 h-full flex flex-col items-center justify-center"><div class="bg-black w-[1px] h-full"></div></div>
        <div class="w-full h-full"></div>
    </div>

    <div class="w-full h-full flex">
        <div class="w-full flex flex-col items-end justify-start">
            <div class="text-end">12 - 2021</div>
            <div class="text-end">Vinicius Trevisan Arquitetos Associados</div>
            <div class="text-end">Estagiário de Arquitetura</div>
            <div class="text-end">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</div>
        </div>
        <div class="w-16 h-full flex flex-col items-center justify-center">
            <i class="bi bi-circle"></i> 
            <div class="bg-black w-[1px] h-full"></div>
        </div>
        <div class="w-full h-full"></div>
    </div>

    <div class="w-full h-full flex">
        <div class="w-full h-full"></div>
        <div class="w-16 h-full flex flex-col items-center justify-center">
            <i class="bi bi-circle"></i> 
            <div class="bg-black w-[1px] h-full"></div>
        </div>
        <div class="w-full flex flex-col items-start justify-start">
            <div class="text-start">05 - 2019</div>
            <div class="text-end">Prefeitura Municipal de Araucária</div>
            <div class="text-end">Estagiário de Arquitetura</div>
            <div class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</div>
        </div>
    </div>

    <div class="w-full h-64 flex">
        <div class="w-full flex flex-col items-end justify-start"></div>
        <div class="w-16 h-full flex flex-col items-center justify-start">
            <i class="bi bi-circle"></i> 
        </div>
        <div class="w-full h-full"></div>
    </div>
</div>