<div x-data="{ navigationOpen: true, darkMode: localStorage.getItem('theme') === 'custom_light' }">
    <div class="bg-base-100 fixed w-[100%] h-16 sm:h-18 md:h-20 lg:h-22 flex justify-center z-50">
        <div class="w-[80%] h-[100%] flex items-center justify-between font-RobotoCondensed">
            <button @click="darkMode = !darkMode; localStorage.setItem('theme', darkMode ? 'custom_light' : 'custom_dark'); document.documentElement.setAttribute('data-theme', darkMode ? 'custom_light' : 'custom_dark')">
                PORTFOLIO
            </button>
            <button @click="navigationOpen = !navigationOpen">
                PORTFOLIO
            </button>
        </div>


    </div>
    <div class="fixed w-full h-full flex items-center justify-center">
        <div class="w-[50%] h-[50%] flex items-center justify-center z-50">
            <div @click.outside="if (navigationOpen) navigationOpen = false" x-show="navigationOpen" class="bg-black w-64 h-[50%] flex items-center justify-center">
                <ul class="flex flex-col items-between justify-between">
                    <a href="./home.html">Home</a>
                    <a href="./projects.html">Projects</a>
                </ul>
            </div>
        </div>
    </div>
</div>