<div x-data="{
    navigationOpen: false,
    languageDropdown: false,
    darkMode: localStorage.getItem('theme') === 'custom_light'}">
    <div class="fixed bg-primary w-full h-16 z-50 border-b border-black/10 flex justify-center px-64">
        <div class="w-full h-full flex items-center justify-between font-RobotoCondensed">
            <!-- Logo / Título -->
            <div x-text="content.header.portfolio" class="w-full flex items-center justify-start uppercase"></div>

            <div class="w-full flex items-center justify-end space-x-2">
                <!-- Language Choice -->
                <div class="relative w-60 flex items-center space-x-2">
                    <button @click="languageDropdown = !languageDropdown" class="w-full flex-none flex items-center justify-between cursor-pointer hover:border hover:border-black/10 space-x-2" :class="languageDropdown ? 'border-x border-t border-black/20' : ''">
                        <i class="flex-none flex items-center justify-center w-8 h-8">
                            <i alt="SelectLanguage" class="bi bi-globe-americas"></i>
                        </i>
                        <p x-text="content.header.language" class="w-full text-start"></p>
                        <i class="flex-none flex items-center justify-center w-8 h-8">
                            <i x-show="languageDropdown" class="fa-solid fa-chevron-up"></i>
                            <i x-show="!languageDropdown" class="fa-solid fa-chevron-down"></i>
                        </i>
                    </button>
                
                    <!-- Dropdown -->
                    <div
                        x-show="languageDropdown"
                        @click.outside="languageDropdown = false"
                        class="absolute left-0 top-full w-full bg-primary rounded-b-[4px] border-x border-b border-black/10 flex flex-col items-center justify-center z-[100]">
                        <template x-for="lang in ['pt-br', 'en-us', 'ru-ru', 'zh-cn']" :key="lang">
                            <button
                                x-data="{ hover: false }"
                                @mouseenter="hover = true"
                                @mouseleave="hover = false"
                                @click="
                                    language = lang;
                                    fetch(`../localization/${lang}.json`)
                                        .then(res => res.json())
                                        .then(data => content = data);
                                    languageDropdown = false
                                "
                                class="w-full h-8 flex items-center justify-start border-t border-black/5 hover:bg-secondary cursor-pointer space-x-2"
                            >
                                <div class="flex items-center justify-center w-8 h-8">
                                    <img x-show="lang === 'pt-br' && (language === lang || hover)" src="/common/icons/brazil.png" class="w-4 h-4"/>
                                    <img x-show="lang === 'en-us' && (language === lang || hover)" src="/common/icons/united-states.png" class="w-4 h-4"/>
                                    <img x-show="lang === 'ru-ru' && (language === lang || hover)" src="/common/icons/russia.png" class="w-4 h-4"/>
                                    <img x-show="lang === 'zh-cn' && (language === lang || hover)" src="/common/icons/china.png" class="w-4 h-4"/>
                                    <i class="fa-regular fa-circle" x-show="language !== lang && !hover"></i>
                                </div>
                                <div class="flex space-x-2">
                                    <p x-text="lang === 'pt-br' ? 'Português' : lang === 'en-us' ? 'English' : lang === 'ru-ru' ? 'Русский' : lang === 'zh-cn' ? '简体中文' : ''"></p>
                                    <p class=" opacity-40" x-text="lang === 'pt-br' ? 'Portuguese' : lang === 'en-us' ? 'English' : lang === 'ru-ru' ? 'Russian' : lang === 'zh-cn' ? 'Chinese' : ''"></p>
                                </div>
                            </button>
                        </template>
                    </div>
                </div>
            
                <!-- Menu Button -->
                <button @click="navigationOpen = true" class="flex items-center justify-center w-8 h-8 cursor-pointer">
                    <i alt="Menu" class="bi bi-list"></i>
                </button>
            </div>
        </div>
    </div>    

    <div class="fixed w-full h-full flex items-center justify-center drop-shadow-soft font-RobotoCondensed pointer-events-none">
        <div class="z-50 pointer-events-auto">
            <div @click.outside="if (navigationOpen) navigationOpen = false" x-show="navigationOpen" class="bg-primary w-[256px] rounded-[4px] p-16 flex flex-col items-center justify-between drop-shadow-custom-shadow-2">
                <ul class="flex flex-col items-center justify-center space-y-4">
                    <a href="../home/home.html">home</a>
                    <a href="../projects/projects.html">projects</a>
                    <a href="../blog/blog.html">blog</a>
                    <a href="../boids/boids.html">boids</a>
                </ul>
                <button class="pt-24" @click="darkMode = !darkMode; localStorage.setItem('theme', darkMode ? 'custom_light' : 'custom_dark'); document.documentElement.setAttribute('data-theme', darkMode ? 'custom_light' : 'custom_dark')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
                        <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>