<div
    x-data="{ sections: [] }" 
    x-init="sections = Array.from(document.querySelectorAll('section'))"
    class="z-50 fixed right-16 top-1/2 bot-1/2 gap-8 uppercase flex flex-col">
    <template x-for="(section, index) in sections" :key="index">
        <div
            class="navigation-option h-6 flex items-center justify-end space-x-2 opacity-20 hover:opacity-100 hover:font-bold cursor-pointer transition-all duration-150"
            @click="window.scrollTo({
                top: section.offsetTop,
                behavior: 'smooth'
            });">
            <div class="h-full items-center justify-center whitespace-nowrap flex-none flex">
                <p x-text="section.id"></p>
            </div>
            <div class="h-full aspect-square flex-none flex items-center justify-center">
                <span class="bg-black w-2 h-2 flex-none rounded-full"></span>
            </div>
        </div>
    </template>
</div>
