<div class="bg-primary w-[100%] h-screen px-16">
    <div class="w-[100%] h-[100%] flex justify-center">
        <div class="w-[40%] h-[100%] p-1 flex items-center justify-center text-[24px] sm:text-[30px] md:text-[34px] lg:text-[38px] text-custom">PROJECTS</div>
        <div class="w-[40%] h-[100%] p-1 flex items-center justify-center text-[16px] sm:text-[20px] md:text-[24px] lg:text-[30px] text-custom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</div>
    </div>
</div>