<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script defer src="../../../dist/bundle.js"></script>
        <title>Portfolio | Vinicius Gonçalves</title>
    </head>
    <body x-data="">
        <header x-init="fetch('../common/header.html').then(res => res.text()).then(html => $refs.header.innerHTML = html)" x-ref="header"></header>
 

        <div class="w-screen h-screen bg-secondary flex items-center justify-center overflow-scroll">
            <div x-data="$store.repository_handler.reposNames" class="w-[80%] h-screen flex items-center justify-center space-x-12">
                <template x-for="repo in reposNames" :key="reposNames">
                    <div x-init="fetch('./common/card.html').then(res => res.text()).then(html => $el.innerHTML = html)"></div>
                </template>
            </div> 
        </div>
        
        <footer x-init="fetch('../common/footer.html').then(res => res.text()).then(html => $refs.footer.innerHTML = html)" x-ref="footer"></footer>
    </body>
</html>