@import "tailwindcss";

@layer components {
    .base-main-text {
        @apply font-light text-zinc-900;
    }

    html[data-theme="dark"] .base-main-text {
        @apply text-white;
    }

    .base-secondary-text {
        @apply font-light text-zinc-700;
    }

    html[data-theme="dark"] .base-secondary-text {
        @apply text-white;
    }

    .base-background {
        @apply bg-white;
    }

    html[data-theme="dark"] .base-background {
        @apply bg-zinc-900;
    }

    .base-hover {
        @apply hover:bg-zinc-100;
    }

    .base-gradient-hover {
        @apply hover:bg-zinc-900;
    }

    .base-border {
        @apply border border-zinc-500;
    }

    .base-padding {
        @apply px-2 py-1
    }

    .base-margin {
        @apply m-2
    }

    .base-rounded {
        @apply rounded-sm;
    }

    .base-shadow {
        @apply drop-shadow-sm;
    }

    .base-horizontal-centralized {
        @apply flex items-center justify-center;
    }

    .base-horizontal-start {
        @apply flex items-center justify-start;
    }

    .base-vertical-centralized {
        @apply flex flex-col items-center justify-center;
    }
}