@import "tailwindcss";
@plugin "@tailwindcss/typography";

@utility ds-main-text {
    @apply font-light text-zinc-500;
}

@utility ds-text-hover {
    @apply hover:text-zinc-900;
}


@layer components {
    .ds-main-text {
        @apply font-light text-zinc-500;
    }

    html[data-theme="dark"] .ds-main-text {
        @apply text-zinc-300;
    }

    .ds-secondary-text {
        @apply font-light text-zinc-700;
    }

    html[data-theme="dark"] .ds-secondary-text {
        @apply text-zinc-200;
    }

    /* .ds-background {
        @apply bg-zinc-100;
    }

    html[data-theme="dark"] .ds-background {
        @apply bg-zinc-900;
    } */

    .ds-hover {
        @apply hover:bg-zinc-50;
    }

    html[data-theme="dark"] .ds-hover {
        @apply hover:bg-zinc-700;
    }

    .ds-text-hover {
        @apply hover:text-zinc-900;
    }

    html[data-theme="dark"] .ds-text-hover {
        @apply hover:text-zinc-100;
    }

    .ds-lower-depth {
        @apply border-b-2 border-white inset-shadow-[0px_2px_8px_rgba(0,0,0,0.75)] shadow-[0px_-2px_4px_rgba(0,0,0,0.25)];
    }

    html[data-theme="dark"] .ds-lower-depth {
        @apply border-b-2 border-zinc-500 inset-shadow-[0px_2px_8px_rgba(0,0,0,0.75)] shadow-[0px_-2px_4px_rgba(0,0,0,0.25)];
    }

    .ds-high-depth {
        @apply border-t-2 border-zinc-50 shadow-[0px_2px_4px_rgba(0,0,0,1.0)];
    }

    html[data-theme="dark"] .ds-high-depth {
        @apply border-t-2 border-zinc-500 shadow-[0px_2px_4px_rgba(0,0,0,1.0)];
    }

    .ds-gradient-hover {
        @apply hover:bg-zinc-900;
    }

    .ds-border {
        @apply border border-zinc-400;
    }

    html[data-theme="dark"] .ds-border {
        @apply border border-zinc-700;
    }

    .ds-focus {
        @apply focus:border-zinc-600;
    }

    html[data-theme="dark"] .ds-focus {
        @apply focus:border-zinc-500;
    }

    .ds-padding {
        @apply px-2 py-1
    }

    .ds-margin {
        @apply m-2
    }
/* 
    .ds-rounded {
        @apply rounded-full;
    } */

    .ds-shadow {
        @apply drop-shadow-sm;
    }

    .ds-horizontal-centralized {
        @apply flex items-center justify-center;
    }

    .ds-horizontal-start {
        @apply flex items-center justify-start;
    }

    .ds-vertical-centralized {
        @apply flex flex-col items-center justify-center;
    }
}

[data-theme="dark"] {
    --background-color-primary: #222222;
    --background-color-secondary: #222222;
    --text-color-primary: #fefefe;

    --border-width: 1px;
    --border-color: #fefefe;
    --border-radius: 8px;
}

[data-theme="light"] {
    --background-color-primary: #fefefe;
    --background-color-secondary: #fefefe;
    --text-color-primary: #222222;

    --border-width: 1px;
    --border-color: #222222;
    --border-radius: 8px;
}

[data-theme="cyberpunk"] {
    --background-color-primary: #222222;
    --background-color-secondary: #222222;
    --text-color-primary: #ffff00;

    --border-width: 1px;
    --border-color: #ffff00;
    --border-radius: 0px;
}

[data-theme="skeuomorphic"] {
    --border-radius: 64px;
}

[data-theme="cute"] {
    --background-color-primary: #fefefe;
    --background-color-secondary: #fefefe;
    --text-color-primary: #ff00ff;

    --border-width: 1px;
    --border-color: #ff00ff;
    --border-radius: 32px;
}

.ds-base {
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
}

.ds-button {
    margin-top: 4px;
    margin-right: 8px;
    cursor: pointer;
    background-color: var(--background-color-primary);
    border-width: var(--border-width);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.ds-dropdown-option {
    margin-top: 4px;
    margin-right: 8px;
    cursor: pointer;
}