@import "tailwindcss";
@plugin "@tailwindcss/typography";

@utility ds-main-text {
    @apply font-light text-zinc-500;
}

@utility ds-text-hover {
    @apply hover:text-zinc-900;
}

@layer components {
    .ds-main-text {
        @apply font-light text-zinc-500;
    }

    html[data-theme="dark"] .ds-main-text {
        @apply text-zinc-300;
    }

    .ds-secondary-text {
        @apply font-light text-zinc-700;
    }

    html[data-theme="dark"] .ds-secondary-text {
        @apply text-zinc-200;
    }

    .ds-background {
        @apply bg-zinc-100;
    }

    html[data-theme="dark"] .ds-background {
        @apply bg-zinc-900;
    }

    .ds-hover {
        @apply hover:bg-zinc-50;
    }

    html[data-theme="dark"] .ds-hover {
        @apply hover:bg-zinc-700;
    }

    .ds-text-hover {
        @apply hover:text-zinc-900;
    }

    html[data-theme="dark"] .ds-text-hover {
        @apply hover:text-zinc-100;
    }

    .ds-lower-depth {
        @apply border-b-2 border-white inset-shadow-[0px_2px_8px_rgba(0,0,0,0.75)] shadow-[0px_-2px_4px_rgba(0,0,0,0.25)];
    }

    html[data-theme="dark"] .ds-lower-depth {
        @apply border-b-2 border-zinc-500 inset-shadow-[0px_2px_8px_rgba(0,0,0,0.75)] shadow-[0px_-2px_4px_rgba(0,0,0,0.25)];
    }

    .ds-high-depth {
        @apply border-t-2 border-zinc-50 shadow-[0px_2px_4px_rgba(0,0,0,1.0)];
    }

    html[data-theme="dark"] .ds-high-depth {
        @apply border-t-2 border-zinc-500 shadow-[0px_2px_4px_rgba(0,0,0,1.0)];
    }

    .ds-gradient-hover {
        @apply hover:bg-zinc-900;
    }

    .ds-border {
        @apply border border-zinc-400;
    }

    html[data-theme="dark"] .ds-border {
        @apply border border-zinc-700;
    }

    .ds-focus {
        @apply focus:border-zinc-600;
    }

    html[data-theme="dark"] .ds-focus {
        @apply focus:border-zinc-500;
    }

    .ds-padding {
        @apply px-2 py-1
    }

    .ds-margin {
        @apply m-2
    }

    .ds-rounded {
        @apply rounded-full;
    }

    .ds-shadow {
        @apply drop-shadow-sm;
    }

    .ds-horizontal-centralized {
        @apply flex items-center justify-center;
    }

    .ds-horizontal-start {
        @apply flex items-center justify-start;
    }

    .ds-vertical-centralized {
        @apply flex flex-col items-center justify-center;
    }
}