---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout pageName="Portfolio">
    <img slot="background" src="/background.png" alt="" class="absolute inset-0 w-full h-full -z-10"/>
    <div slot="main" class="relative z-10 p-8">
    </div>
</BaseLayout>