---
import { URLHelper } from "../common/URLhelper";

const base = import.meta.env.BASE_URL;
const locale = URLHelper.getLocaleFromURL(Astro.url);
---
<div x-init=`location.replace("${base}${locale}/404")`>
</div>