---
const { id } = Astro.props;
const { name } = Astro.props;
---
<button
    id={ id }
    class="
        ds-background ds-border ds-rounded ds-padding ds-hover ds-high
        flex items-center justify-center">
        { name }
</button>