---
import { Icon } from 'astro-icon/components'
---

<footer class="border-t border-black/20 w-full h-8 flex-none flex items-center justify-between px-4">
    <div class="w-1/4 h-full flex items-center justify-start">© {new Date().getFullYear()} Vinicius Gonçalves</div>
    <div class="w-2/4 flex items-center justify-center space-x-8">
        <!-- <Toggle
            id="toggle-light-direction-button"
            ariaLabel="Toggle light direction"
            leftIcon="bi bi-brightness-low"
            leftIconSize="text-2xl"
            rightIcon="bi bi-moon-stars"
            rightIconSize="font-lg"
            storageKey="lightDirection">
        </Toggle> -->
        <!-- <Dropdown
            id="select-palettes"
            defaultLabel="palettes"
            datasetKey="palette"
            storageKey="palette"
            options={Object.values(Palette)}
        /> -->
    </div>
    <nav aria-label="social networks" class="w-1/4 flex items-center justify-end">
        <ul class="space-x-8 flex">
            <li class="ds-text-hover ds-space-x flex items-center justify-center space-x-2 cursor-pointer">
                <Icon name="mdi:github" />
                <a target="_blank" href="https://github.com/ViniciusGoncalves00" rel="me">GitHub</a>
                <i class="bi bi-box-arrow-up-right text-xs flex items-center justify-center"></i>
            </li>
            <li class="ds-text-hover ds-space-x flex items-center justify-center space-x-2 cursor-pointer">
                <Icon name="mdi:linkedin" />
                <a target="_blank" href="https://www.linkedin.com/in/viniciusgonçalves00/" rel="me">LinkedIn</a>
                <i class="bi bi-box-arrow-up-right text-xs flex items-center justify-center"></i>
            </li>
        </ul>
    </nav>
</footer>
