---
import ToggleIcon from './toggle-icon.astro';

import { languages } from '../i18n/ui';
import { getPartFromUrl } from '../i18n/utils';

const urlLanguage = getPartFromUrl(Astro.url, 1);
const page = getPartFromUrl(Astro.url, 2);
const info = languages.find(info => info.abbreviation === urlLanguage);

const nextLanguage = info?.abbreviation === "en-us" ? "pt-br" : "en-us";
const toggleLanguageKnobTranslation = info?.abbreviation === "pt-br" ? "" : "translate-x-[calc(120%)]";

const languageHref = `/${nextLanguage}/${page}`;
---

<div class="opacity-50 hover:transition-opacity hover:opacity-100 duration-200 w-full h-16 flex-none flex items-center justify-between">
    <div class="w-1/4 h-full flex items-center justify-center">
    </div>
    <div class="w-2/4 h-8 flex items-center justify-center space-x-8">
        <ToggleIcon
            buttonId="toggle-audio-button"
            knobId="toggle-audio-knob"
            ariaLabel="Toggle audio"
            leftIcon="bi bi-volume-up"
            leftIconSize="text-2xl"
            rightIcon="bi bi-volume-mute"
            rightIconSize="text-2xl">
        </ToggleIcon>
        <ToggleIcon
            buttonId="toggle-theme-button"
            knobId="toggle-theme-knob"
            ariaLabel="Toggle theme"
            leftIcon="bi bi-brightness-low"
            leftIconSize="text-2xl"
            rightIcon="bi bi-moon-stars"
            rightIconSize="font-lg">
        </ToggleIcon>
        <div class="h-full flex items-center justify-between space-x-1">
            <div class="h-full aspect-square p-1">BR</div>
            <a id="toggle-language-button" href={languageHref} aria-label="Toggle Language" class="ds-background ds-lower-depth ds-rounded h-full w-14 p-1 cursor-pointer flex items-center">
                <div id="toggle-language-knob" class=`ds-background ds-high-depth ds-rounded ds-hover ${toggleLanguageKnobTranslation} h-full aspect-square transition-all transition-discrete duration-500`></div>
            </a>
            <div class="h-full aspect-square p-1">EN</div>
        </div>
    </div>
    <nav aria-label="social networks" class="w-1/4 h-8 flex items-center justify-center space-x-2">
        <!-- <LanguagePicker /> -->
    </nav>
</div>

<script>
    const root = document.documentElement;  
    const toggleThemeButton = document.getElementById("toggle-theme-button");
    const toggleThemeKnob = document.getElementById("toggle-theme-knob");

    const toggleAudioButton = document.getElementById("toggle-audio-button");
    const toggleAudioKnob = document.getElementById("toggle-audio-knob");

    const toggleLanguageButton = document.getElementById("toggle-language-button");

    let darkThemeEnabled = localStorage.darkTheme === "true" || (!("darkTheme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches);
    let audioEnabled = localStorage.audio === "true" || (!("audio" in localStorage) && !window.matchMedia("(prefers-reduced-motion: reduce)").matches);

    moveKnob(darkThemeEnabled, toggleThemeKnob!);
    moveKnob(!audioEnabled, toggleAudioKnob!);
    assignTheme(darkThemeEnabled);

    const enableSFX = new Audio("/sfx/Minimalist1.mp3");
    const disableSFX = new Audio("/sfx/Minimalist2.mp3");
    enableSFX.preload = "auto";
    disableSFX.preload = "auto";

    toggleThemeButton?.addEventListener("click", () => {
        darkThemeEnabled = !darkThemeEnabled;

        if (audioEnabled) playAudio(darkThemeEnabled);
        moveKnob(darkThemeEnabled, toggleThemeKnob!);
        saveState(darkThemeEnabled, "darkTheme");
        assignTheme(darkThemeEnabled);

        const event = new Event("toggleLight");
        window.dispatchEvent(event);
    });

    toggleAudioButton?.addEventListener("click", () => {
        audioEnabled = !audioEnabled;

        playAudio(audioEnabled);
        moveKnob(!audioEnabled, toggleAudioKnob!);
        saveState(audioEnabled, "audio");
    });

    toggleLanguageButton?.addEventListener("pointerdown", () => {
        const language = window.location.pathname.split("/").at(1);
        const isPortuguese = language === "pt-br";

        if (audioEnabled) playAudio(isPortuguese);
    });

    function saveState(state: boolean, store: string) {
        localStorage[store] = String(state);
    }

    function assignTheme(state: boolean) {
        state ? root.classList.add("dark") : root.classList.remove("dark");
        root.dataset.theme = state ? "dark" : "";
    }

    function moveKnob(state: boolean, element: HTMLElement) {
        state ? element.classList.add("translate-x-[calc(120%)]") : element.classList.remove("translate-x-[calc(120%)]");
    }

    function playAudio(state: boolean) {
        !state ? enableSFX.currentTime = 0 : disableSFX.currentTime = 0;
        !state ? enableSFX.play() : disableSFX.play();
    }
</script>
