---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getLanguageFromUrl, useTranslations } from '../i18n/utils';

import HorizontalContainer from './horizontalContainer.astro';
import LanguagePicker from '../components/LanguagePicker.astro';

const language = getLanguageFromUrl(Astro.url);
const translation = useTranslations(language);
const locale = Astro.currentLocale ?? "pt-br"
---

<HorizontalContainer>
    <header class="opacity-50 hover:transition-opacity hover:opacity-100 duration-200 w-full flex items-center justify-between">
        <nav aria-label="site navigation" class="w-1/4 flex items-center justify-center">
            <ul class="flex">
                <li class="px-4 my-4 flex items-center justify-center cursor-pointer hover:font-medium"><a href={getRelativeLocaleUrl(locale, `home`)}>{translation('navigation.home')}</a></li>
                <li class="px-4 my-4 flex items-center justify-center cursor-pointer hover:font-medium"><a href={getRelativeLocaleUrl(locale, `blog`)}>{translation('navigation.blog')}</a></li>
                <li class="px-4 my-4 flex items-center justify-center cursor-pointer hover:font-medium"><a href={getRelativeLocaleUrl(locale, `contact`)}>{translation('navigation.contact')}</a></li>
                <li class="px-4 my-4 flex items-center justify-center cursor-pointer hover:font-medium"><a href={getRelativeLocaleUrl(locale, `404`)}>{translation('navigation.404')}</a></li>
                <li class="px-4 my-4 flex items-center justify-center cursor-pointer hover:font-medium">design</li>
            </ul>
        </nav>

        <div class="w-2/4 flex items-center justify-center">
            <p class="text-3xl font-normal"><strong>portfolio</strong> vinicius gonçalves</p>
        </div>
      
        <nav aria-label="social networks" class="w-1/4 flex items-center justify-center">
            <ul class="flex">
                <button id="light" class="px-4 flex items-center justify-center cursor-pointer hover:font-medium">Turn on the lights</button>
                <button id="dark" class="px-4 flex items-center justify-center cursor-pointer hover:font-medium">Turn off the lights</button>
                <LanguagePicker />
            </ul>
        </nav>
    </header>
</HorizontalContainer>

<script>
    const root = document.documentElement;  
    const darkButton = document.getElementById("dark");
    const lightButton = document.getElementById("light");

    document.documentElement.classList.toggle(
        "dark",
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),
    );

    if (localStorage.theme === "dark") {
        lightButton?.classList.toggle("hidden");
    } else if (localStorage.theme === "light") {
        darkButton?.classList.toggle("hidden");
    }

    darkButton?.addEventListener("click", () => {
        root.dataset.theme = "dark";
        root.setAttribute("data-theme", "dark");

        darkButton?.classList.toggle("hidden");
        lightButton?.classList.toggle("hidden");

        localStorage.setItem("theme", "dark");
    }); 

    lightButton?.addEventListener("click", () => {
        root.dataset.theme = "light";
        root.setAttribute("data-theme", "light");

        darkButton?.classList.toggle("hidden");
        lightButton?.classList.toggle("hidden");

        localStorage.setItem("theme", "light");
    });
</script>