---
import { languages, defaultLanguage } from '../i18n/ui';
import { getPartFromUrl } from '../i18n/utils';

const language = getPartFromUrl(Astro.url, 1);
const page = getPartFromUrl(Astro.url, 2);

---
<details class="relative">
  <summary class="base-horizontal-centralized base-rounded base-hover base-border base-padding w-24 cursor-pointer list-none">
    {Object.entries(languages).find(([lang, label]) => lang == language)?.[1]}
  </summary>

  <ul class="absolute right-0 -mt-2 w-24 rounded-b border-b border-x bg-white shadow-md">
    {Object.entries(languages).map(([language, label]) => {
      const href = `/${language}/${page}`;

      return (
        <li>
          <a href={href} class="block px-4 py-2 text-sm hover:bg-gray-100">
            {label}
            </a>
        </li>
      );
    })}
  </ul>
</details>
<!-- 
<script>
    document.addEventListener('click', (e) => {
        document.querySelectorAll('[data-dropdown]').forEach(dropdown => {
            const button = dropdown.querySelector('[data-toggle]');
            const menu = dropdown.querySelector('[data-menu]');

            if (button?.contains(e.target)) {
                menu?.classList.toggle('hidden');
            } else if (!dropdown.contains(e.target)) {
                menu?.classList.add('hidden');
            }
        });
    });
</script> -->