---
---
<span
  class="w-full flex flex-col items-center justify-start
    prose dark:prose-invert
    prose-headings:ds-main-text
    prose-h1:w-full prose-h1:flex prose-h1:items-center prose-h1:justify-center prose-h1:font-bold prose-h1:ds-main-text prose-h1:text-xl
    prose-h2:w-full prose-h2:flex prose-h2:items-center prose-h2:justify-center prose-h2:font-bold prose-h2:ds-main-text prose-h2:text-xl
    prose-h3:w-full prose-h3:flex prose-h3:items-center prose-h3:justify-center prose-h3:font-bold prose-h3:ds-main-text prose-h3:text-xl
    prose-h4:w-full prose-h4:flex prose-h4:items-center prose-h4:justify-center prose-h4:font-bold prose-h4:ds-main-text prose-h4:text-xl
    prose-h5:w-full prose-h5:flex prose-h5:items-center prose-h5:justify-center prose-h5:font-bold prose-h5:ds-main-text prose-h5:text-xl
    prose-h6:w-full prose-h6:flex prose-h6:items-center prose-h6:justify-center prose-h6:font-bold prose-h6:ds-main-text prose-h6:text-xl
    prose-p:w-full prose-p:flex prose-p:items-center prose-p:justify-center prose-p:ds-main-text prose-p:text-lg
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl"
  >
  <slot />
</span>