---
const { buttonId } = Astro.props;
const { knobId } = Astro.props;
const { ariaLabel } = Astro.props;
const { leftIcon } = Astro.props;
const { leftIconSize } = Astro.props;
const { rightIcon } = Astro.props;
const { rightIconSize } = Astro.props;
---

<div class="h-full flex items-center justify-between space-x-2">
    <i class=`${ leftIcon } h-full aspect-square flex items-center justify-center ${ leftIconSize }`></i>
    <button id={ buttonId } aria-label={ ariaLabel } class="ds-background ds-lower-depth ds-rounded h-full w-14 p-1 cursor-pointer flex items-center">
        <div id={ knobId } class="ds-background ds-high-depth ds-rounded ds-hover h-full aspect-square transition-all transition-discrete duration-500"></div>
    </button>
    <i class=`${ rightIcon } h-full aspect-square flex items-center justify-center ${ rightIconSize }`></i>
</div>