body {
    background: #222222;
    color: white;
    align-content: center;
    font-weight: 12;
    font-family: Arial, sans-serif;


}

.special {
    color: gold;
    font-weight: bold;
}

h1, h2, h3 {
    font-weight: 36;
    font-family: Arial, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

p {
    margin-bottom: -10px;
    /*margin-left: 20px;*/
}