body {
    background: #222222;
    color: white;
    align-content: center;
    font-weight: 12;
    font-family: Arial, sans-serif;


}

.special {
    color: gold;
    font-weight: bold;
}

h1 {
    font-weight: bolder;
}

h1, h2, h3 {
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

h2, h3 {
    font-weight: lighter;
}

p {
    margin-bottom: -10px;
    /*margin-left: 20px;*/
}