body{
    background: #222222;
    color: white;
    align-content: center;
    font-weight: normal;
    font-family: Arial, sans-serif;
}
.special{
    color: gold;
    font-weight: bold;
}
h1{
    
}
p{
    margin-bottom: 20px;
}