---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getCollection, getEntry } from 'astro:content';

const { locale } = Astro.params;
const posts = (await getCollection('blog')).filter(post => post.id.startsWith(`${locale}/`));

export async function getStaticPaths() {
  return [
    { params: { locale: 'pt-br' } },
    { params: { locale: 'en-us' } },
  ];
}
---
<BaseLayout  pageName="Portfolio | Blog">
    <div slot="main">
        <ul>
            {posts.map(post => {
                const slug = post.id.split('/')[1];   
                
                return (
                    <li>
                        <a href={`/${locale}/blog/${slug}`}>
                            {post.data.title}
                        </a>
                    </li>
                );
            })}
        </ul>
    </div>
</BaseLayout>