@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --drop-shadow-soft: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

@layer utilities {
    .bg-primary {
      background-color: rgb(255, 255, 255);
    }
    .bg-secondary {
      background-color: rgb(250, 250, 250);
    }
  }

[data-theme='custom_light']
{
    --primary: 255, 255, 255;
    --secondary: 250, 250, 250;

    --primary_text: 20, 20, 20;
    --secondary_text: 20, 20, 20;
}

[data-theme='custom_dark']
{
    --primary: 27, 27, 27;
    --secondary: 25, 25, 25;

    --primary_text: 255, 255, 255;
    --secondary_text: 250, 250, 250;
}

.custom_red
{
    --primary: 255, 0, 0;
    --secondary: 200, 0, 0;

    --primary_text: 255, 255, 255;
    --secondary_text: 255, 255, 255;
}